body {
    background-color: #252830;
    color: #fff;
    width: 100%;
    height: 100%;
}
.sidebar {
    background-color: #1A1C22;
    height: 100%;
    width: 15%;
}
#links {
    text-decoration: none;
    list-style-type: none;
    width: 100%;
}
#links a {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */ 
    z-index:10; /* raises anchor tag above everything else in div */ 
    opacity: 1; /*workaround to make clickable in IE */ 
    filter: alpha(opacity=1);
    display:inline-block;
}
#links li {
    width: 100%;
    height: 15%;
    text-align: center;
}
#links li:hover {
    background-color: #393D4A;
}
#links .active {
    background-color: #121418;
}
#links p {
    display:inline-block;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.status {
    position: fixed;
    width: 85%;
    height: 15%;
    top: 0;
    left: 15%;
    border: 2px solid black;
}
.mainbody {
    position: fixed;
    left: 15%;
    top: 15%;
    width: 85%;
    height: 85%;
}
.addplayerbutton {
    position: fixed;
    top: 15%;
    left: 20%;
}